@model Domain.SiteContent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SiteContent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LargeHeader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LargeHeader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlurgUnderLargerHeader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlurgUnderLargerHeader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Header1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Header1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Header1Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Header1Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Header1CodeSnip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Header1CodeSnip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Header2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Header2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Header2Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Header2Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Header3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Header3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Header3Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Header3Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalHeader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalHeader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalHeaderContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalHeaderContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WhatWeCollect)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WhatWeCollect)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivacyPolicy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrivacyPolicy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Documentation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Documentation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
