@model List<Domain.WebSites>

<link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
<style>
    .float-right.search.btn-group {
        padding-right: 20px;
    }
</style>
<div class="row btabletitle">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 text-center">
        <h1>Websites</h1>
    </div>
    <div class="col-md-4">
    </div>

</div>
<div class="row btablespace">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
        <a class="btn btn-secondary btn-lg" asp-action="Create">Create New Website</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-secondary btn-lg" asp-action="Overview">Overview</a>
    </div>

</div>
<div class="row btable">
    <div class="col-md-12">
        <table id="table"
               data-toggle="table"
               data-height="900"
               data-search="true"
               data-page-size="30"
               data-page-list="[30, 50, 100, 200, All]"
               data-pagination="true">
            <thead>
                <tr>
                    <th data-field="Name" data-sortable="true">
                        Name
                    </th>
                    <th data-field="APIKey" data-sortable="true">
                        APIKey
                    </th>
                    <th data-field="HomePageLink" data-sortable="true">
                        Home Page Link
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr id="tr-id-@i" class="tr-class-@i" data-title="bootstrap table" data-object='{"key": "value"}'>

                        <td id="td-id-@i" class="td-class-@i" data-title="bootstrap table">
                            @Html.DisplayFor(modelItem => Model[i].Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].APIKey)
                        </td>
                        <td>
                            <a href="@Model[i].HomePageLink">@Model[i].HomePageLink</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model[i].Id">Edit</a> |
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@Model[i].Id">Details</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model[i].Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<div class="spacer">
</div>
<div class="spacer">
</div>
@section Scripts{
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

    <script src="~/js/prod/table.min.js"></script>
}