@model Domain.SiteContent

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/highlight.min.js" integrity="sha512-tHQeqtcNWlZtEh8As/4MmZ5qpy0wj04svWFK7MIzLmUVIzaHXS8eod9OmHxyBL1UET5Rchvw7Ih4ZDv5JojZww==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/styles/github-gist.min.css" integrity="sha512-LcufBzA8yrkLJmMzmj3KYSM6tfPOxYdG2byxGbmRzHFSuP5wumxGcbVmmUXnkYpB3OqnHprnX54l7w19dpttlA==" crossorigin="anonymous" /><div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="display-2 text-center">@Model.LargeHeader</h1>
        </div>
    </div>
</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <blockquote class="blockquote text-center">
            <p class="mb-0">
                @Model.BlurgUnderLargerHeader
            </p>
        </blockquote>
    </div>
    <div class="col-md-2">

    </div>

</div>

<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="display-4">Features</h1>
        </div>
    </div>
    <div class="col-md-3">

    </div>

</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-4">
        <div class="text-center">
            <i class="far fa-times-circle fa-5x"></i>
        </div>
        <div style="padding-top:10px;padding-bottom:5px;"></div>
        <div class="text-center">
            <h3>No GDPR, CCPA, or PECR</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <i class="fas fa-chart-line fa-5x"></i>
        </div>
        <div style="padding-top:10px;padding-bottom:5px;"></div>
        <div class="text-center">
            <h3>We show you the essentials: page views, referrers, top pages, and screen sizes</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <i class="fas fa-exclamation-circle fa-5x"></i>
        </div>
        <div style="padding-top:10px;padding-bottom:5px;"></div>
        <div class="text-center">
            <h3>We won't ever sell your data. </h3>
        </div>

    </div>
</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <a class="btn btn-lg btn-block btn-danger" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
    </div>
    <div class="col-md-3">

    </div>
</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">

        <div class="text-center">
            <h1 class="display-4">@Model.Header1</h1>
        </div>
        <blockquote class="blockquote text-center">
            <p class="mb-0">
                @Model.Header1Content
            </p>
        </blockquote>
        <script>
            hljs.initHighlightingOnLoad();
        </script>
        <pre>
            <code class="html">
                @Model.Header1CodeSnip
            </code></pre>
    </div>
    <div class="col-md-3">

    </div>
</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="display-4">@Model.Header2</h1>
        </div>
        <blockquote class="blockquote text-center">
            <p class="mb-0">
                @Model.Header2Content
            </p>
        </blockquote>
    </div>
    <div class="col-md-3">

    </div>

</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h1 class="display-4">@Model.Header3</h1>
        </div>
        <blockquote class="blockquote text-center">
            <p class="mb-0">
                @Model.Header3Content
            </p>
        </blockquote>
    </div>
    <div class="col-md-3">

    </div>

</div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div style="padding-top:20px;padding-bottom:20px;"></div>
<div style="padding-top:20px;padding-bottom:20px;"></div>

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="text-center">
            <h1 class="display-4">@Model.FinalHeader</h1>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <blockquote class="blockquote text-center">
            <p class="mb-0">
                @Model.FinalHeaderContent
            </p>
        </blockquote>
    </div>
    <div class="col-md-2">

    </div>

</div>
